/* @media(max-width:991px) {
    html {
        font-size: 20px;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {} */

@media(max-width:375px) {
    .box {
        width: 275px;
    }
}